<mat-drawer-container class="drawer-container">
  <mat-drawer
    class="map-drawer"
    mode="over"
    [disableClose]="true"
    fixedInViewPort="true"
    position="start"
    [opened]="isOverlayOpen$ | async"
  >
    <ng-template appMapOverlay></ng-template>
  </mat-drawer>
  <mat-drawer-content>
    <div id="map">
      <button
        mat-raised-button
        color="accent"
        *ngIf="markers.length > 0"
        class="remove-marker"
        (click)="removeAllMarkers()"
      >
        Clear Markers
      </button>
    </div>

    <div appPopupHost></div>
  </mat-drawer-content>
</mat-drawer-container>
