#map {
  width: 100vw;
  height: 100vh;
}

.remove-marker {
  position: absolute;
  bottom: 4rem;
  right: 0.6rem;
  z-index: 100;
}

.map-drawer {
  width: 16rem;
  text-align: center;
}

.map-buttons {
  position: absolute;
  bottom: 10rem;
  right: 0.6rem;
  z-index: 100;
}

:host ::ng-deep {
  .mat-drawer.map-drawer {
    transform: translate3d(0, 100%, 0); 
    height: 40vh; 
    left: 0;
    right: 0;
    width: 100vw; 
    top: auto; 
    bottom: 0; 
  }
  
}
