<mat-drawer-container class="drawer-container">
  <mat-drawer
    class="map-drawer"
    mode="over"
    [disableClose]="false"
    fixedInViewPort="false"
  >
    <ng-template appMapOverlay></ng-template>
  </mat-drawer>
  <mat-drawer-content>
    <div id="map">
      <div class="map-buttons">
        <button
          mat-raised-button
          *ngIf="markers.length > 0"
          class="remove-marker"
          (click)="removeAllMarkers()"
        >
          Remove Markers
        </button>
        <button
          mat-raised-button
          *ngIf="markers.length > 0"
          class="open-btn"
          (click)="openOverlay()"
        >
          Open In Side Panel
        </button>
      </div>
    </div>

    <div appPopupHost></div>
  </mat-drawer-content>
</mat-drawer-container>
