<div
  *ngIf="placeMarkerConfirmationPopup; else viewBlock"
  class="popup-container"
>
  <h3 class="location">{{ location }}</h3>

  <button
    class="popup-action-btn"
    mat-raised-button
    color="accent"
    (click)="onPlaceMarker()"
  >
    Place
  </button>
</div>

<ng-template #viewBlock>
  <div class="popup-container">
    <h3 class="location">{{ location }}</h3>

    <button
      id="popup-action-btn"
      mat-raised-button
      color="accent"
      (click)="openOverlay()"
    >
      View
    </button>
  </div>
</ng-template>
