

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl-geocoder {
  width: 15rem;
}

.mapboxgl-ctrl-geocoder input[type='text'] {
  margin-inline-start: 1.25rem;
}

.mat-mdc-snack-bar-container.error {
  background-color: darkred;
  border-radius: 1rem;
}

.mat-mdc-snack-bar-container.error .mdc-snackbar__surface {
  border-radius: 1rem;
  padding: 0.25rem;
  background-color: rgb(160, 24, 24);
}

.mat-mdc-button .mdc-button__label, .mat-mdc-unelevated-button .mdc-button__label, .mat-mdc-raised-button .mdc-button__label, .mat-mdc-outlined-button .mdc-button__label {
  color: white;
}
